html,
body {
    min-height: 100%;
}

body {
    margin: 0%;
    background-image: url(./imgs/background.png);
    background-size: contain;
    font-family: 'Space Grotesk', sans-serif;
    text-align: justify;
}

body ::selection,
body::selection{
    color: orangered;
    background: #FFDE59;
}

header {
    background-color: #FFDE59;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 165%;
    margin-top: -2%;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #6b5600;
}

header a:active {
    color: orangered;
}

.sublinhado {
    text-decoration: underline;
}

ul {
    padding-left: 0%;
}

li {
    display: inline-block;
    margin-left: 2%;
}

.easteregg {
    text-size: 200%;
    float: right;
    animation: girando 3.5s ease-in-out 0s infinite alternate;
    text-decoration: none;
    position: sticky;
    right: 1%;
    top: 5%;
}

@keyframes girando {
    to {
        transform: rotate(-45deg);
    }

    from {
        transform: rotate(45deg);
    }
}

.semclear {
    clear: none;
}

main {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 150%;
}

main p {
    opacity: 80%;
    clear: both;
    background: #FFF9E1;
}

.impar {
    margin-right: 50%;
}

.par {
    margin-left: 50%;
}

.imgbola{
    width: 20%;
}
.imgbola:hover{
    animation: girando 2s ease-in 0s infinite alternate;
}

.legenda{
    font-size: 70%;
}

table{
    text-align: center;
    margin-left: 25%;
    background: #FFDE59;
    border-collapse: collapse;
}

tr:hover{
    background: #ecbf0b;
}

footer {
    background: #FFDE59;
    clear: both;
    padding-top: 1%;
}

footer p {
    margin-right: 3%;
}

#logofinal {
    float: left;
    width: 10%;
    border: #FFDE59 solid 1%;
    padding-right: 1.5%;
    margin-left: 3%;
}
#arremesso{
    margin-left: 45%;
    margin-right: 49.5%;
    opacity: 1;
    background: none;
    font-size: 300%;
    position: relative;
    animation: lhorizontal 3s ease-in 0s infinite normal;
}
@keyframes lhorizontal {
    to{
        top: 0;
        left:0;
    }
    from{
        transform: translateY(-100%);
        left: -10%;
    }
}
main li{
    opacity: .8;
    display: block;
}
dl{
    opacity: .8;
}
dd{
    margin-left: 0%;
}
.bee{
    width: 3.5%;
    transition: transform 400ms linear;
}
.bee:hover{
    transform: translateY(10%);
}
.beer{
    float: right;       
}

.beel{
    float: left;
}
#bee1{
    margin-left: 45%;
}
#creditos{
    font-size: 85%;
}